################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/bin/Debug/net6.0
/Api/obj
/Api/Properties
/Common/bin/Debug
/Common/obj
/Data/bin/Debug
/Data/obj
/Entities/bin/Debug
/Entities/obj
/Integration/bin/Debug
/Integration/obj
/.vs
/Service/obj
/Service/bin
/BackendCore.sln.DotSettings.user
/Api.Unit.Tests/bin/Debug/net6.0
/Api.Unit.Tests/obj/Debug/net6.0
/Api.Unit.Tests/obj
/Common.Unit.Tests/bin/Debug/net6.0
/Common.Unit.Tests/obj
/Data.Unit.Tests/bin/Debug/net6.0
/Data.Unit.Tests/obj
/Integration.Unit.Tests/bin/Debug/net6.0
/Integration.Unit.Tests/obj
/Service.Unit.Tests/bin/Debug/net6.0
/Service.Unit.Tests/obj
/Api/bin/Debug/net7.0
/Api.Unit.Tests/bin/Debug/net7.0
/Common.Unit.Tests/bin/Debug/net7.0
/Data.Unit.Tests/bin/Debug/net7.0
/Integration.Unit.Tests/bin/Debug/net7.0
/Service.Unit.Tests/bin/Debug/net7.0
/SonoTracker.Api/bin/Debug/net8.0
/SonoTracker.Api/obj/Debug/net8.0
/SonoTracker.Api/obj
/SonoTracker.Application/obj
/SonoTracker.Common/obj
/SonoTracker.Domain/obj
/SonoTracker.Infrastructure/obj
/SonoTracker.Integration/obj
/SonoTracker.Api.Unit.Tests/obj/Debug/net8.0
/SonoTracker.Api.Unit.Tests/bin/Debug/net8.0
/SonoTracker.Application/obj/Debug/net8.0
/SonoTracker.Application/bin/Debug/net8.0
/SonoTracker.Application.Unit.Tests/obj/Debug/net8.0
/SonoTracker.Application.Unit.Tests/bin/Debug/net8.0
/SonoTracker.Common/obj/Debug/net8.0
/SonoTracker.Common/bin/Debug/net8.0
/SonoTracker.Common.Unit.Tests/obj
/SonoTracker.Common.Unit.Tests/bin
/SonoTracker.Domain/obj/Debug/net8.0
/SonoTracker.Domain/bin/Debug/net8.0
/SonoTracker.Infrastructure/obj/Debug/net8.0
/SonoTracker.Infrastructure/bin/Debug/net8.0
/SonoTracker.Infrastructure.Unit.Tests/obj
/SonoTracker.Infrastructure.Unit.Tests/bin
/SonoTracker.Integration/obj/Debug/net8.0
/SonoTracker.Integration/bin/Debug/net8.0
/SonoTracker.Integration.Unit.Tests/obj/Debug/net8.0
/SonoTracker.Integration.Unit.Tests/bin/Debug/net8.0
/SonoTracker.Api/Template.Api.csproj.user
/Tests/Template.Api.Unit.Tests/bin/Debug/net8.0
/Tests/Template.Api.Unit.Tests/obj
/Tests/Template.Application.Unit.Tests/bin/Debug/net8.0
/Tests/Template.Application.Unit.Tests/obj
/Tests/Template.Common.Unit.Tests/bin/Debug/net8.0
/Tests/Template.Common.Unit.Tests/obj/Debug/net8.0
/Tests/Template.Domain.Unit.Tests/bin/Debug/net8.0
/Tests/Template.Domain.Unit.Tests/obj/Debug/net8.0
/Tests/Template.Infrastructure.Unit.Tests/bin/Debug/net8.0
/Tests/Template.Infrastructure.Unit.Tests/obj
/Tests/Template.Integration.Unit.Tests/bin/Debug/net8.0
/Tests/Template.Integration.Unit.Tests/obj/Debug/net8.0
/Tests/Template.Api.Unit.Tests/bin/Debug/net9.0
/Tests/Template.Application.Unit.Tests/bin/Debug/net9.0
/Tests/Template.Common.Unit.Tests/bin/Debug/net9.0
/Tests/Template.Domain.Unit.Tests/bin/Debug/net9.0
/Tests/Template.Infrastructure.Unit.Tests/bin/Debug/net9.0
/Tests/Template.Integration.Unit.Tests/bin/Debug/net9.0
/Tests/Template.Api.Unit.Tests/bin/Release/net9.0
/SonoTracker.Api/bin/Release/net8.0
/SonoTracker.Api/Properties/PublishProfiles
/SonoTracker.Application/bin/Release/net8.0
/SonoTracker.Common/bin/Release/net8.0
/SonoTracker.Domain/bin/Release/net8.0
/SonoTracker.Infrastructure/bin/Release/net8.0
/SonoTracker.Integration/bin/Release/net8.0
/SonoTracker.Api/bin/Debug/net9.0
/SonoTracker.Application/bin/Debug/net9.0
/SonoTracker.Common/bin/Debug/net9.0
/SonoTracker.Domain/bin/Debug/net9.0
/SonoTracker.Infrastructure/bin/Debug/net9.0
/SonoTracker.Integration/bin/Debug/net9.0
/SonoTracker.Api/wwwroot
