<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
	    <!--
		<modules runAllManagedModulesForAllRequests="false">
		    <remove name="WebDAVModule" />
	    </modules>
		-->
      <aspNetCore processPath="dotnet" arguments=".\ReviewersServices.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: FFE0B6BF-878C-468B-A8B0-8088BCBBC27E-->